<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
    <title>Welcome to HashtagSell.com</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=320, target-densitydpi=device-dpi">
</head>

<body>
    <table width="100%" cellpadding="0" cellspacing="0" border="0" id="background-table">
        <tbody>
            <tr>
                <td align="center" bgcolor="#ECECEC">
                    <table  style="margin:0 10px;" width="550" cellpadding="0" cellspacing="0" border="0">
                        <tbody>
                            <tr>
                                <td width="550" height="40"></td>
                            </tr>

                            <tr>
                                <td width="550">
                                    <table id="top-bar" width="550" height="50px" cellpadding="0" cellspacing="0" border="0" bgcolor="#b74d4d">
                                        <tbody>
                                            <tr>
                                                <td><a href="https://twitter.com/hashtagsell"><img src="<%= images.twitter_logo %>" height="18" style="float: left; margin-left:40px;"></a></td>

                                                <td><a href="https://www.facebook.com/hashtagsell"><img src="<%= images.fb_logo %>" height="20" style="float: right; margin-right:40px;"></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td id="header" width="550" align="center" bgcolor="#FFFFFF">
                                    <table width="550" cellpadding="0" cellspacing="0" border="0">
                                        <tbody>
                                            <tr>
                                                <td width="500">
                                                    <div align="center" id="headline">
                                                        <p><strong><a href="https://www.hashtagsell.com"><img src="<%= images.hts_logo %>" style="height:100px;"></a></strong></p>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>


                            <tr id="simple-content-row">
                                <td width="550" bgcolor="#FFFFFF">
                                    <table width="550" cellpadding="0" cellspacing="0" border="0">
                                        <tbody>
                                            <tr>
                                                <td class="w30" width="30"></td>

                                                <td  width="500">
                                                    <table  width="500" cellpadding="0" cellspacing="0" border="0">
                                                        <tbody>
                                                            <tr>
                                                                <td  width="500">
                                                                    <p align="left" class="article-title">Hi, <%= user.name %>!</p>
                                                                    <div align="left" class="article-content">
                                                                        Congratulations on becoming a HashtagSell beta tester!  Shop, sell, simulate a meeting to buy an item and purchase online!  Whatever you do, just remember to send us your feedback.  With your feedback we can build a product that re-imagines how people buy and sell used-goods online.
                                                                        <br>
                                                                        <br>
                                                                        <a href="<%= user.activation %>">Please click here complete your registration.</a>
                                                                        <br>
                                                                        <br>
                                                                        Sincerely,
                                                                        <br>
                                                                        <br>
                                                                        - HashtagSell Team<br>
                                                                        <br>
                                                                        <br>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td  width="500" height="10"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>


                            <tr>
                                <td width="550">
                                    <table id="footer" width="550" cellpadding="0" cellspacing="0" border="0" bgcolor="#b74d4d">
                                        <tbody>
                                            <tr>
                                                <td class="hide w0" width="160" valign="top" height="50px"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td width="550" height="40"></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
